In [1]:
print('Hello Loi')

Hello Loi

###### String as a list

In [8]:
a = list('moment')
print(a)

['m', 'o', 'm', 'e', 'n', 't']

###### simple format string

In [9]:
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(4.5560, 'Argentine Pesos', 1)

'4.56 Argentine Pesos are worth US$1'

###### encode, decode unicode string to UTF-8 bytes

In [4]:
val = "español"
val_utf_8 = val.encode('utf-8')
val_utf_8

b'espa\xc3\xb1ol'

In [5]:
type(val_utf_8)

bytes

In [6]:
val_utf_8.decode('utf-8')

'español'

#### Tuple

In [13]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [14]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [15]:
tup = (1,2 ,3) + (4, 5)
tup

(1, 2, 3, 4, 5)

In [16]:
tup = 4, 5, (6, 7)
tup

(4, 5, (6, 7))

In [18]:
a, b, (c, d) = tup
d

7

In [20]:
seq = [(1, 2, 3), (4, 5, 6)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6

In [22]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
print(rest)

a = (1, 2, 2, 2, 3, 4, 2)
print(a.count(2))

[3, 4, 5]
4

#### List

###### Concatenating and combining lists

In [25]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
print(x)

print([4, None, 'foo'] + [7, 8, (2, 3)])

[4, None, 'foo', 7, 8, (2, 3)]
[4, None, 'foo', 7, 8, (2, 3)]

###### Sorting

In [26]:
a = [7, 2, 5, 1, 3]
a.sort()
print(a)

[1, 2, 3, 5, 7]

In [27]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
print(b)

['He', 'saw', 'six', 'small', 'foxes']